@import "../../vars.css";

.container, .containerDark {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 360px;
    height: 550px;
}

.container {
    background-color: var(--color-bg-dark);
}
.containerDark {
    background-color: var(--color-bg-light);
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    border-radius: 10px;
    font-family: var(--current-font);
    background-color: transparent;
    width: 320px;
    margin: 20px;
}

.image {
    border-radius: 10px 10px 0 0;
    height: 190px;
    margin-bottom: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.title, .titleDark {
    font-size: 1.5rem;
    font-family: var(--current-font);
    font-weight: bold;
}

.title {
    color: var(--color-text-dark);
}

.titleDark {
    color: var(--color-text-light);
}

.description, .descriptionDark {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
    font-size: 1.2rem;
    font-family: var(--current-font);
    font-weight: 100;
}

.description {
    color: var(--color-text-dark);
}

.descriptionDark {
    color: var(--color-text-light);
}

.skills {
    width: 100%;
    margin-top: 0;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 300;
    gap: 6px;
    list-style: none;
}

.skill, .skillDark {
    display: flex;
    font-size: 0.9rem;
    font-family: var(--current-font);
    width: 100px;
    height: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 100px;
}

.skill{
    background: var(--color-bg-light);
}

.skillDark {
    background: var(--color-bg-dark);
}

.links, .linksDark {
    width: 70%;
    height: 40px;
    display: flex;
    margin-bottom: 20px;
    align-self: center;
    border-radius: 100px;
}
.links{
    background: var(--color-bg-light);
}
.linksDark {
    background: var(--color-bg-dark);
}

.link, .linkDark {
    text-decoration: none;
    font-family: var(--current-font);
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    text-align: center;
}

.link {
    color: var(--color-text-light);
}

.linkDark {
    color: var(--color-text-dark);
}


@media screen and (max-width: 830px) {

}