@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: var(--color-bg-dark);
  max-width: 360px;
  height: 600px;
}

.containerDark {
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  background-color: var(--color-bg-light);
  max-width: 360px;
  height: 600px;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  border-radius: 10px;
  font-family: var(--current-font);
  background-color: transparent;
  max-width: 345px;
  margin: 20px;
}

.image {
  border-radius: 10px 10px 0 0;
  height: 220px;
  margin-bottom: 0;
}

.title {
  font-size: 1.5rem;
  font-family: var(--current-font);
  color: var(--color-text-dark);
  font-weight: bold;
}

.titleDark{
  font-size: 1.5rem;
  font-family: var(--current-font);
  color: var(--color-text-light);
  font-weight: bold;
}

.description {
  margin-top: 6px;
  font-size: 1.2rem;
  font-family: var(--current-font);
  color: var(--color-text-dark);
  font-weight: 100;
}

.descriptionDark {
  margin-top: 6px;
  font-size: 1.2rem;
  font-family: var(--current-font);
  color: var(--color-text-light);
  font-weight: 100;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 300;
  gap: 6px;
  list-style: none;
}

.skill {
  display: flex;
  font-size: 1rem;
  background: var(--color-bg-light);
  font-family: var(--current-font);
  width:100px;
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 100px;
}

.skillDark {
  display: flex;
  font-size: 1rem;
  background: var(--color-bg-dark);
  font-family: var(--current-font);
  width:100px;
  height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 100px;
}

.links {
  width: 70%;
  height: 40px;
  background: var(--color-bg-light);
  display: flex;
  margin: 10px;
  align-self: center;
  border-radius: 100px;
}

.linksDark {
  width: 70%;
  height: 40px;
  background: var(--color-bg-dark);
  display: flex;
  margin: 10px;
  align-self: center;
  border-radius: 100px;
}

.link {
  text-decoration: none;
  color: var(--color-text-light);
  font-family: var(--current-font);
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
}

.linkDark {
  text-decoration: none;
  color: var(--color-text-dark);
  font-family: var(--current-font);
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
  text-align: center;
}
