@import "../../vars.css";

.container {
    position: relative;
    background-color: var(--color-bg-dark);
    border-radius: 15px;
    padding: 30px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.containerDark {
    position: relative;
    background-color: var(--color-bg-light);
    border-radius: 15px;
    padding: 30px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text-dark);
    font-family: var(--current-font);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.titleDark {
    color: var(--color-text-light);
    font-family: var(--current-font);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.aboutImage {
    width: 100px;
    margin: 20px;
}

.icons {
    margin: 15px;
    height: 60px;
    width: 60px;
}

.aboutItems {
    color: var(--color-text-dark);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 50px;
}

.aboutItemsDark {
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 50px;
}


.aboutItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
            90deg,
            rgba(133, 133, 133, 0.42) 0%,
            rgba(255, 255, 255, 0) 100%
    );
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover {
    background-size: 100% 100%;
}

.aboutItem h3 {
    font-size: 2rem;
    font-weight: 600;
    font-family: var(--current-font);
}

.aboutItem p {
    font-size: 1rem;
    font-family: var(--current-font);
}

@media screen and (max-width: 830px) {
    .container {
        background-color: var(--color-bg-dark);
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 0;
    }

    .containerDark {
        background-color: var(--color-bg-light);
        margin-top: 20px;
        padding-left: 25px;
        padding-right: 0;
    }

    .content {
        flex-direction: column;
    }

    .aboutItems {
        margin-top: 29px;
    }

    .aboutItem {
        padding-left: 25px;
        padding-right: 0;
    }
}
