@import "../../vars.css";

.container {
  color: var(--color-text-light);
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 30px 5%;
  gap: 10px;
}

.containerDark {
  color: var(--color-text-dark);
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 30px 5%;
  gap: 10px;
}

.themeButton{
  background-color: transparent;
  border: none;
  color: var(--color-text-light);
  font-size: 30px;
  margin-top: 20px;
  font-weight: 300;
  font-family: var(--font-Space-Mono);
}

.themeButtonDark{
  background-color: transparent;
  border: none;
  color: var(--color-text-dark);
  font-size: 30px;
  margin-top: 20px;
  font-weight: 300;
  font-family: var(--font-Space-Mono);
}

.text h2 {
  font-size: 50px;
  font-weight: 600;
  font-family: var(--font-Space-Mono);
  letter-spacing: 3px;
}

.text p {
  font-size: 30px;
  font-weight: 300;
  font-family: var(--font-Space-Mono);
  letter-spacing: 1px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.linkDark {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--font-Space-Mono);
  font-weight: 400;
  letter-spacing: 1.5px;
}

.linkDark a {
  color: var(--color-text-dark);
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--font-Space-Mono);
  font-weight: 400;
  letter-spacing: 1.5px;
}




@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }
  .containerDark {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links {
    align-items: start;
  }
}
